# ==============================================================================
# Template    : roles/podman_stack/templates/Caddyfile.j2
# Description : Caddy internal reverse proxy configuration
# Author      : SudoShea
# Version     : 1.0.0
# License     : MIT
# ==============================================================================
{
    admin off
}

# Pi-hole Web Interface Proxy
pihole.local {
    reverse_proxy 127.0.0.1:80
}
