# ==============================================================================
# File        : roles/podman_stack/templates/dns-net.network.j2
# Description : Podman Quadlet network definition for isolated DNS stack bridge
# Author      : SudoShea
# Version     : 1.8.1
# License     : MIT
# ==============================================================================

[Unit]
Description=Podman internal bridge network for Pi-hole and Unbound

[Network]
Driver=bridge
