# ==============================================================================
# Ansible Config : ansible.cfg
# Description    : Default runtime configuration for homelab infrastructure stack
# Author         : SudoShea
# Version        : 1.8.4
# Licence        : MIT
# ==============================================================================
[defaults]
inventory = inventory.ini
roles_path = roles
interpreter_python = auto_silent
stdout_callback = default
callbacks_enabled = timer, profile_tasks
vault_password_file = .vault_pass

[callback_default]
result_format = yaml

[privilege_escalation]
become = False
become_method = sudo
become_user = root
