[Unit]
Description=Vector Log Collector
After=network-online.target loki.service
Wants=loki.service

[Container]
Image=docker.io/timberio/vector:latest-debian
ContainerName=vector
Network=host
User=0:0
GroupAdd=keep-groups
SecurityLabelDisable=true
Exec=--config /etc/vector/vector.toml
Volume={{ ansible_facts['user_dir'] }}/homelab/vector/vector.toml:/etc/vector/vector.toml:z
Volume=/var/log/journal:/var/log/journal:ro
Volume=/run/log/journal:/run/log/journal:ro
Volume=/etc/machine-id:/etc/machine-id:ro
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
